<h1>Welcome to the stocks view page</h>
<p><%= link_to 'aapl', controller: "preview", action: "show", symbol: 'aapl'%></p>
<p><%= link_to 'tsla', controller: "preview", action: "show", symbol: 'tsla'%></p>
<p><%= link_to 'aal', controller: "preview", action: "show", symbol: 'aal'%></p>
<p><%= link_to 'cern', controller: "preview", action: "show", symbol: 'cern'%></p>
<p><%= link_to 'coke', controller: "preview", action: "show", symbol: 'coke'%></p>
<p><%= link_to 'ford', controller: "preview", action: "show", symbol: 'ford'%></p>



  

